{% extends 'base.html' %}
{% load static %}
{% block title %}Configuration - {{request.user.username|title}}{% endblock%}

{% block pre-extrajs %}
<script src="{% static 'js/configuration.js' %}"></script>
{%endblock%}

{% block content %}
<div class="p-4 mx-auto">
    {% include "includes/breadcrump.html" with page="Account Settings" icon="fas fa-universal-access" %}
    <div class="rounded-2xl border border-gray-700 lg:p-6 bg-base-100">
        <div class="flex items-center justify-between gap-3">
            <h3 class="mb-5 text-lg font-semibold lg:mb-7">
                {{request.user.username|title}}'s Account
            </h3>
        </div>
        {% include 'accounts/sections/change-password.html' with header='Password'%}
        {% include 'accounts/sections/change-username.html' with header='Username'%}
    </div>
</div>
{% include 'includes/sidebar-drawer.html' with page="settings" %}
{% endblock %}
