{% extends 'base.html' %}
{% load static %}
{% block title %}Profile - {{request.user.username|title}}{% endblock%}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/selectize.min.css' %}">
{% endblock %}
{% block pre-extrajs %}
<script src="{% static 'js/selectize.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
{%endblock%}

{% block content %}
<div class="grid grid-cols-12 h-screen">
    <!-- Sidebar -->
    <div class="col-span-3 bg-base-100 m-3 rounded-xl overflow-auto p-3">
        <h1 class="text-2xl font-bold">
            Pramaan
        </h1>
        <div class="divider"></div>
        {% include 'includes/sidebar.html' %}

    </div>
    <div class="col-span-9 overflow-auto" id="sections">
        <div class="p-4 mx-auto max-w-(--breakpoint-2xl) md:p-6">
            {% include "includes/breadcrump.html" with page="Profile" icon="fas fa-user" %}
            <div class="rounded-2xl border border-gray-700 lg:p-6 bg-base-100">
                <h3 class="mb-5 text-lg font-semibold lg:mb-7">
                    Welcome Back, {{request.user.username|title}}
                </h3>
                <section class="p-5 mb-6 border border-gray-700 rounded-2xl bg-base-200 lg:p-6" id="profile">
                    <div class="flex flex-col gap-5 xl:flex-row xl:items-center xl:justify-between">
                        <div class="flex flex-col items-center w-full gap-6 xl:flex-row">
                            <div class="w-20 h-20 overflow-hidden border border-gray-700 rounded-full">
                                <!-- TODO: Implement User Profile Image Primary Model -->
                                <img src="{% static 'img/profile.jpg' %}" alt="user">
                            </div>
                            <div class="order-3 xl:order-2">
                                <h4 class="mb-2 text-lg font-semibold text-center xl:text-left">
                                    {% if request.user.get_full_name %}
                                    {{request.user.get_full_name}}
                                    {% else %}
                                    <span class="text-error">
                                        Please Update Your Profile
                                    </span>
                                    {% endif %}
                                </h4>
                                <div
                                    class="flex flex-col items-center gap-1 text-center xl:flex-row xl:gap-3 xl:text-left">
                                    <p class="text-sm italic">
                                        {{request.user.username}}
                                    </p>
                                    <div class="divider divider-horizontal mx-0 px-0"></div>
                                    <p class="text-sm italic">
                                        {{request.user.email}}
                                    </p>
                                </div>
                            </div>
                            <div class="flex items-center order-2 gap-2 grow xl:order-3 xl:justify-end">
                                <!-- Social Media Links -->
                                <button class="btn btn-circle bg-white group">
                                    {% include 'icons/facebook.html' %}
                                </button>
                                <button class="btn btn-circle bg-white group">
                                    {% include 'icons/instagram.html' %}
                                </button>
                                <button class="btn btn-circle bg-white group">
                                    {% include 'icons/x-twitter.html' %}
                                </button>
                                <button class="btn btn-circle bg-white group">
                                    {% include 'icons/tiktok.html' %}
                                </button>
                            </div>
                        </div>
                        <!-- Edit Social Media Links -->
                        <label for="social-update-modal" data-tip="Edit Social Links"
                            class="tooltip btn btn-soft rounded-full border-gray-600">
                            <i class="fa fa-paperclip"></i>
                            <span class="hidden md:block">Edit</span>
                        </label>
                        {% include 'modals/accounts/social-modal.html' %}
                    </div>
                </section>
                <section class="p-5 mb-6 border border-gray-700 rounded-xl lg:p-6" id="details">
                    <div class="flex items-center justify-between">
                        <h4 class="text-lg font-semibold lg:mb-6">
                            Personal Information
                        </h4>
                        <label for="detail-update-modal" data-tip="Edit Details"
                            class="tooltip btn btn-soft rounded-full border-gray-600">
                            <i class="fa fa-user-pen"></i>
                            <span class="hidden md:block">Edit</span>
                        </label>
                        {% include 'modals/accounts/detail-modal.html' %}
                    </div>
                    <div class="grid grid-cols-2 items-start justify-center gap-5">
                        <!-- First Name -->
                        <div>
                            <p class="mb-2 text-xs leading-normal">
                                First Name
                            </p>
                            <p class="text-sm font-medium">
                                {% if request.user.first_name %}
                                {{request.user.first_name}}
                                {%else%}
                                <span class="text-error">
                                    Add First Name
                                </span>
                                {%endif%}
                            </p>
                        </div>
                        <!-- Lastname -->
                        <div>
                            <p class="mb-2 text-xs leading-normal">
                                Last Name
                            </p>
                            <p class="text-sm font-medium">
                                {% if request.user.last_name %}
                                {{request.user.last_name}}
                                {%else%}
                                <span class="text-error">
                                    Add Last Name
                                </span>
                                {%endif%}
                            </p>
                        </div>
                        <!-- Email -->
                        <div>
                            <p class="mb-2 text-xs leading-normal">
                                Email address
                            </p>
                            <p class="text-sm font-medium">
                                {{request.user.email}}
                            </p>
                        </div>
                        <div>
                            <p class="mb-2 text-xs leading-normal">
                                Secondary Email address
                            </p>
                            <p class="text-sm font-medium">
                                {% if request.user.detail.secondary_email %}
                                {{request.user.detail.secondary_email}}
                                {%else%}
                                <span class="text-error">
                                    Add Secondary Email
                                </span>
                                {%endif%}
                            </p>
                        </div>
                        <!-- Phone Number -->
                        <div>
                            <p class="mb-2 text-xs leading-normal">
                                Phone
                            </p>
                            <p class="text-sm font-medium">
                                {% if request.user.detail.phone_number %}
                                {{request.user.detail.phone_number}}
                                {%else%}
                                <span class="text-error">
                                    Add Phone Number
                                </span>
                                {%endif%}
                            </p>
                        </div>
                        <div>
                            <p class="mb-2 text-xs leading-normal">
                                Secondary Phone
                            </p>
                            <p class="text-sm font-medium">
                                {% if request.user.detail.secondary_phone_number %}
                                {{request.user.detail.secondary_phone_number}}
                                {%else%}
                                <span class="text-error">
                                    Add Secondary Phone Number
                                </span>
                                {%endif%}
                            </p>
                        </div>
                    </div>
                    <div class="w-full mt-6">
                        <p class="mb-2 text-xs leading-normal">
                            Bio
                        </p>
                        <p
                            class="text-sm font-medium w-full border border-gray-500 rounded-lg focus:shadow-xl p-2 min-h-24 bg-base-300">
                            {% if request.user.detail.bio %}
                            {{request.user.detail.bio}}
                            {%else%}
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ipsa officia optio? Magni
                            velit aliquid labore maiores facere. A quos vitae rem dolore exercitationem! Unde
                            consectetur adipisci voluptatibus delectus tempore.
                            {%endif%}
                        </p>
                    </div>
                </section>
                <section class="mb-6 p-5 border border-gray-700 rounded-xl lg:p-6" id="address">
                    <div class="flex gap-6 lg:flex-row lg:items-start lg:justify-between w-full">
                        <h4 class="text-lg font-semibold lg:mb-6">
                            Address
                        </h4>
                        <label for="address-add-modal" data-tip="Add Address" class=" tooltip btn btn-soft
                            rounded-full border-gray-600">
                            <i class="fa fa-plus"> </i>
                            <span class="hidden md:block">Add</span>
                        </label>
                        {% include 'modals/accounts/add-address.html' %}
                    </div>
                    <div>
                        {% for address in request.user.addresses.all %}
                        {% include 'includes/address.html' with address=address %}
                        {%empty %}
                        <span class="text-error">
                            No Address Found
                        </span>
                        {% endfor %}
                    </div>
                </section>
                <section class="mb-6 p-5 border border-gray-700 rounded-xl lg:p-6" id="emergency">
                    <div class="flex gap-6 lg:flex-row lg:items-start lg:justify-between w-full">
                        <h4 class="text-lg font-semibold lg:mb-6">
                            Emergency Contact
                        </h4>
                        <label for="emergency-add-modal" data-tip="Add Emerygency Contact" class="tooltip btn btn-soft
                                            rounded-full border-gray-600">
                            <i class="fa fa-plus"> </i>
                            <span class="hidden md:block">Add</span>
                        </label>
                        {% include 'modals/accounts/add-emergency.html' %}
                    </div>
                    <div class="grid grid-cols-3">
                        {% for emergency in request.user.emergency_details.all %}
                        {% include 'includes/emergency.html' with emergency=emergency %}
                        {%empty %}
                        <span class="text-error col-span-3">
                            No Address Found
                        </span>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
