{% extends 'base.html' %}
{% load static %}
{% block title %}Profile - {{request.user.username|title}}{% endblock%}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/selectize.min.css' %}">
{% endblock %}
{% block pre-extrajs %}
<script src="{% static 'js/selectize.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
{%endblock%}

{% block content %}
<div class="p-4 mx-auto">
    {% include "includes/breadcrump.html" with page="Profile" icon="fas fa-user" %}
    <div class="rounded-2xl border border-gray-700 lg:p-6 bg-base-100">
        <h3 class="mb-5 text-lg font-semibold lg:mb-7">
            Welcome Back, {{request.user.username|title}}
        </h3>
        <div class="grid grid-cols-12 w-full gap-2">
            <div class="col-span-2">
                {% include 'includes/settings-sidebar.html' %}
            </div>
            <div class="col-span-10">
                <!-- Profile Section -->
                {% include 'accounts/sections/profile-section.html' %}
                <!-- Detail Section -->
                {% include 'accounts/sections/profile-detail.html' %}
                <!-- Address Dection -->
                {% include 'accounts/sections/address.html' %}
                <!-- Emergency Section -->
                {% include 'accounts/sections/emergency.html' %}
            </div>
        </div>
    </div>
</div>
{% include 'includes/sidebar-drawer.html' with page="settings" %}
{% endblock %}
