{%extends 'oauth/oauth.html'%}
{%load static%}
{% block title %}Oauth - Branding{%endblock%}

{% block extrac-css %}{% endblock %}

{%block pre-extrajs%}
<script src="{% static 'js/oauth/oauth.js' %}"></script>
{%endblock%}


{% block main-content %}
<div class="p-2 max-h-[75vh] overflow-y-auto">
    <div class="flex justify-end items-center mb-5">
        <!-- <h1 class="text-xl font-bold">
            OAuth Details
        </h1> -->
        <form action="{% url 'oauth:branding' %}" method="GET" class="flex gap-2 items-center justify-end">
            <select name="oauth" class="select select-sm">
                {% for oauth_item in request.user.oauths.all %}
                {%if oauth_item.id == oauth.id%}
                <option value="{{oauth_item.id}}" selected>{{ oauth_item.title }}</option>
                {%else%}
                <option value="{{oauth_item.id}}">{{ oauth_item.title }}</option>
                {%endif%}
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-sm btn-glass bg-primary">
                <i class="fa fa-magnifying-glass text-xl"></i>
            </button>
        </form>
    </div>
    <div>
        <h1 class="text-2xl font-semibold">
            App information
        </h1>
        <p class="text-gray-500 text-xs">
            This shows in the consent screen, and helps end users know who you are and contact you
        </p>
        <form action="{% url 'oauth:branding' %}?oauth={{oauth.id}}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in oauth_form %}
            {% include 'partials/field.html' with field=field %}
            {%endfor%}
            <div class="flex justify-start gap-2">
                <button type="submit" class="btn btn-primary" disabled="true">Update Details</button>
                <button type="button" class="btn">Discard Changes</button>
            </div>
        </form>
    </div>
</div>

{%endblock%}
