{%extends 'oauth/oauth.html'%}
{% block title %}Oauth - Overview{%endblock%}

{% block extrac-css %}{% endblock %}

{%block pre-extrajs%}{%endblock%}


{% block main-content %}
<div class="flex flex-col gap-3">
    <div class="flex items-center justify-between">
        <label role="button" for="create-oauth" class="btn btn-sm btn-primary">
            Create OAuth
        </label>
    </div>
    <div class="p-4 border border-gray-700 rounded-lg shadow-sm hover:shadow-xl">
        More context available soon....
    </div>
</div>
{% include 'modals/oauth/create-oauth.html' %}
{%endblock%}
