<div class="flex flex-wrap items-center justify-between gap-3 mb-6">
    <div class="flex items-center justify-start">
        <label class="btn btn-ghost hover:bg-transparent" for="sidebar-drawer">
            <i class="fa fa-sliders text-xl"></i>
        </label>
        <h2 class="btn text-2xl font-semibold bg-base-300">
            {{page}}
        </h2>
    </div>
    <div class="breadcrumbs text-sm">
        <ul>
            <li>
                <!-- TODO: Add User Dashboard Url -->
                <a>
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a>
                    <i class="{{icon}}"></i>
                    {{page}}
                </a>
            </li>
        </ul>
    </div>
</div>
