<div class="flex flex-wrap items-center justify-between gap-3 mb-6">
    <h2 class="text-2xl font-semibold">
        {{page}}
    </h2>
    <div class="breadcrumbs text-sm">
        <ul>
            <li>
                <!-- TODO: Add User Dashboard Url -->
                <a>
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a>
                    <i class="{{icon}}"></i>
                    {{page}}
                </a>
            </li>
        </ul>
    </div>
</div>
