<div class="flex flex-wrap items-center justify-between gap-3 mb-6">
    <div class="flex items-center justify-start">
        <label class="btn btn-ghost hover:bg-transparent p-2" for="sidebar-drawer">
            <i class="fa fa-bars text-xl"></i>
        </label>
        <a href="{%url 'dashboard:dashboard'%}" class="text-2xl font-semibold bg-base-300">
            {{page}}
        </a>
    </div>
    <div class="breadcrumbs text-sm">
        <ul>
            <li>
                <!-- TODO: Add User Dashboard Url -->
                <a>
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a>
                    <i class="{{icon}}"></i>
                    {{page}}
                </a>
            </li>
        </ul>
    </div>
</div>
