<div class="menu rounded-box w-full p-0 m-0 subpixel-antialiased gap-2">
    <!-- TODO: Update links according to template -->
    <li>
        <a href="{% url 'dashboard:dashboard'  %}" class="
        {% if 'dashboard' in request.path %}
        menu-active
        {% endif %}
        ">
            {% include 'svg/dashboard.html' %}
            Dashboard
        </a>
    </li>
    <li>
        <a href="{% url 'dashboard:dashboard'  %}" class="
        {% if 'linkinbio' in request.path %}
        menu-active
        {% endif %}
        ">
            <i class="fa fa-link w-6"></i>
            Link in Bio
        </a>
    </li>
    <li>
        <a href="{% url 'dashboard:dashboard'  %}" class="
        {% if 'profile-card' in request.path %}
        menu-active
        {% endif %}
        ">
            <i class="fa fa-id-card w-6"></i>
            Profile Card
        </a>
    </li>
    <li>
        <a href="{% url 'dashboard:dashboard'  %}" class="
        {% if 'portfolio' in request.path %}
        menu-active
        {% endif %}
        ">
            <i class="fa fa-user-tie w-6"></i>
            Portfolio
        </a>
    </li>
    <li>
        <a href="{% url 'dashboard:dashboard'  %}" class="
        {% if 'user-blog' in request.path %}
        menu-active
        {% endif %}
        ">
            <i class="fa fa-blog w-6"></i>
            User Blog
        </a>
    </li>
    <li>
        <a href="{% url 'oauth:oauth'  %}" class="
        {% if 'oauth' in request.path %}
        menu-active
        {% endif %}
        ">
            <i class="fa fa-unlock-keyhole w-6"></i>
            O Auth
        </a>
    </li>
    <div class="divider"></div>
    <li>
        <a href="{% url 'accounts:profile'  %}" class="
        {% if 'profile' in request.path %}
        menu-active
        {% endif %}
        ">
            <i class="fa fa-user-gear"></i>
            Public Profile
        </a>
    </li>
    <li>
        <a href="{% url 'configuration:configuration'  %}" class="
        {% if 'configuration' in request.path %}
        menu-active
        {% endif %}
        ">
            <i class="fa fa-screwdriver-wrench"></i>
            Preferences
        </a>
    </li>
    <li>
        <a href="{% url 'accounts:accounts'  %}" class="
        {% if 'accounts' in request.path %}
        menu-active
        {% endif %}
        ">
            <i class="fa fa-user-shield"></i>
            Account
        </a>
    </li>
    <div class="divider"></div>
    <li>
        <a href="{% url 'dashboard:dashboard'  %}" class="
        {% if 'blog' in request.path %}
        menu-active
        {% endif %}
        ">
            <i class="fa fa-square-rss"></i>
            Pramaan Blog
        </a>
    </li>
    <li>
        <a href="{% url 'dashboard:dashboard'  %}" class="
        {% if 'contribute' in request.path %}
        menu-active
        {% endif %}
        ">
            <i class="fa fa-code-branch"></i>
            Contribute
        </a>
    </li>
    <li>
        <a href="{% url 'dashboard:dashboard'  %}" class="
        {% if 'developer' in request.path %}
        menu-active
        {% endif %}
        ">
            <i class="fa fa-code"></i>
            Developer Docs
        </a>
    </li>
</div>
