<input type="checkbox" id="change-password-modal" class="modal-toggle" />
<div class="modal" role="dialog">
    <div class="modal-box max-h-10/12">
        <form action="{% url url %}" method="POST">
            {% csrf_token %}
            <h3 class="text-lg font-bold mb-5">Really change your password?</h3>
            <div class="py-4 flex flex-col gap-4">
                <ul class="list-disc list-inside">
                    <li>
                        You will be logged out from all devices after changing your password.
                    </li>
                    <li>
                        Password must be at least 8 characters long, not a common word or phrase.
                    </li>
                    <li>
                        Password must contain at least one uppercase letter, one lowercase letter, one number, and one
                        special character.
                    </li>
                    <li>
                        You will need to login again after changing your password.
                    </li>
                </ul>
            </div>
            <div class="modal-action">
                <label type="button" for="change-password-modal-confirm" class="btn btn-soft btn-warning w-full">
                    I understand continue changing password.
                </label>
            </div>
        </form>
    </div>
    <label class="modal-backdrop" for="change-password-modal"></label>
</div>

<input type="checkbox" id="change-password-modal-confirm" class="modal-toggle" />
<div class="modal" role="dialog">
    <div class="modal-box max-h-10/12">
        <form action="{% url url %}" method="POST">
            {% csrf_token %}
            <h3 class="text-lg font-bold">Change password</h3>
            <div class="py-4">
                {% for field in password_form %}
                {% include 'partials/form-field.html' with field=field %}
                {% endfor %}
            </div>
            <div class="modal-action flex items-center justify-end">
                <button type="submit" class="btn btn-soft btn-primary">
                    Change Password
                </button>
                <label for="change-password-modal-confirm" class="btn btn-soft">
                    Cancel
                </label>
            </div>
        </form>
    </div>
    <label class="modal-backdrop" for="change-password-modal-confirm"></label>
</div>
