<!-- The button to open modal -->
<dialog id="address_{{address.id}}" class="modal">
    <div class="modal-box w-3xl">
        <h3 class="text-lg font-bold">Address Map View!</h3>
        <div class="py-4">
            <iframe
                src="https://maps.google.com/maps?q={{address.city.latitude}},{{address.city.longitude}}&hl=es;z=14&amp;output=embed"
                class="w-full h-94" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <label class="modal-backdrop" for="address_{{address.id}}">Close</label>
</dialog>
