<section class="mb-6 p-5 border border-gray-700 rounded-xl lg:p-6" id="notification">
    <div class="flex gap-6 lg:flex-row lg:items-start lg:justify-between w-full">
        <h4 class="text-lg font-semibold lg:mb-6">
            {{header}} Preferance
        </h4>
        <!-- <label for="emergency-add-modal" data-tip="Add Emerygency Contact" class="tooltip btn btn-soft
                                            rounded-full border-gray-600">
            <i class="fa fa-plus"> </i>
            <span class="hidden md:block">Add</span>
        </label> -->
    </div>
    {% for field in notification_form %}
    {% include 'partials/horizontal-field.html' with field=field %}
    {% endfor %}
</section>
