<section class="mb-6 p-5 border border-gray-700 rounded-xl lg:p-6" id="change-password">
    <div class="flex gap-6 lg:flex-row lg:items-start lg:justify-between w-full">
        <h4 class="text-lg font-semibold lg:mb-6">
            Change {{header}}
        </h4>
        <!-- <label for="emergency-add-modal" data-tip="Add Emerygency Contact" class="tooltip btn btn-soft
                                            rounded-full border-gray-600">
            <i class="fa fa-plus"> </i>
            <span class="hidden md:block">Add</span>
        </label> -->
    </div>
    <div class="flex flex-col md:flex-row items-center justify-between gap-3">
        <p>
            Strengthen your account by ensuring your password is strong.
        </p>
        <label for="change-password-modal" class="btn btn-soft btn-warning">Change Password</label>
        {% include 'modals/accounts/change-password.html' with url=action.password password_form=password_form %}
    </div>
</section>
