{%load static%}
<section class="mb-6 p-5 border border-gray-700 rounded-xl lg:p-6" id="emergency">
    <div class="flex gap-6 lg:flex-row lg:items-start lg:justify-between w-full">
        <h4 class="text-lg font-semibold lg:mb-6">
            Emergency Contact
        </h4>
        <label for="emergency-add-modal" data-tip="Add Emerygency Contact" class="tooltip btn btn-soft
                                            rounded-full border-gray-600">
            <i class="fa fa-plus"> </i>
            <span class="hidden md:block">Add</span>
        </label>
        {% include 'modals/accounts/add-emergency.html' %}
    </div>
    <div class="grid grid-cols-3">
        {% for emergency in request.user.emergency_details.all %}
        {% include 'includes/emergency.html' with emergency=emergency %}
        {%empty %}
        <span class="text-error col-span-3">
            No Address Found
        </span>
        {% endfor %}
    </div>
</section>
