{% extends 'base.html' %}
{% load static %}
{% block title %}Configuration - {{request.user.username|title}}{% endblock%}

{% block pre-extrajs %}
<script src="{% static 'js/configuration.js' %}"></script>
{%endblock%}

{% block content %}
<div class="p-4 mx-auto">
    {% include "includes/breadcrump.html" with page="Configuration" icon="fas fa-screwdriver-wrench" %}
    <div class="rounded-2xl border border-gray-700 lg:p-6 bg-base-100">
        <div class="flex items-center justify-between gap-3">
            <h3 class="mb-5 text-lg font-semibold lg:mb-7">
                {{request.user.username|title}}'s Configuration
            </h3>
        </div>
        <form action="" method="POST">
            {%csrf_token%}
            {% include 'configuration/sections/account-preferances.html' with header='Account'%}
            {% include 'configuration/sections/notification-preferances.html' with header="Notification" %}
            {%include 'configuration/sections/privacy.html' with header='Privacy'%}
            <div class="flex justify-end items-center">
                <button type="submit" class="btn btn-primary mt-5 text-end justify-self-end tooltip"
                    data-tip="Update Profile Default Preferences">
                    Update Preferances
                </button>
            </div>
        </form>
    </div>
</div>
{% include 'includes/sidebar-drawer.html' with page="settings"%}
{% endblock %}
