{% load static %}
<section class="scroll-section relative h-screen flex flex-col justify-center bg-neutral">
    <div class="w-full h-full relative overflow-hidden group">
        <div class="relative h-10/12 flex items-center justify-center">
            <div
                class="absolute before:absolute before:-inset-3 before:animate-[spin_3s_linear_infinite] before:rounded-full before:border before:border-transparent before:[mask-composite:exclude_!important] before:[mask:linear-gradient(white_0_0)_padding-box,_linear-gradient(white_0_0)] before:[background:conic-gradient(from_180deg,transparent,var(--color-blue-500))_border-box]">
                <div class="animate-[breath_8s_ease-in-out_infinite_both]">
                    <div
                        class="flex h-24 w-24 items-center justify-center rounded-full bg-white shadow-lg shadow-black/[0.03] before:absolute before:inset-0 before:m-[8.334%] before:rounded-[inherit] before:border before:border-gray-700/5 before:bg-gray-200/60 before:[mask-image:linear-gradient(to_bottom,black,transparent)]">
                        <img alt="Logo 01" loading="lazy" decoding="async" data-nimg="1"
                            class="relative rounded-full border-3 border-blue-500/50" style="color:transparent"
                            src="{% static 'img/profile/darth-vadar.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="relative flex flex-col">
                <article
                    class="flex h-full w-full items-center justify-center focus-visible:outline-hidden focus-visible:ring-3 focus-visible:ring-indigo-300">
                    <div class="absolute -translate-x-[136px]">
                        <div class="animate-[breath_7s_ease-in-out_3s_infinite_both]">
                            <div
                                class="flex h-16 w-16 items-center justify-center rounded-full bg-white shadow-lg shadow-black/[0.03] before:absolute before:inset-0 before:m-[8.334%] before:rounded-[inherit] before:border before:border-gray-700/5 before:bg-gray-200/60 before:[mask-image:linear-gradient(to_bottom,black,transparent)]">
                                <img alt="Logo 02" loading="lazy" decoding="async" data-nimg="1"
                                    class="relative rounded-full border-3 border-blue-500/50" style="color:transparent"
                                    src="{% static 'img/profile/chandler.jpeg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="absolute translate-x-[136px]">
                        <div class="animate-[breath_7s_ease-in-out_3.5s_infinite_both]">
                            <div
                                class="flex h-16 w-16 items-center justify-center rounded-full bg-white shadow-lg shadow-black/[0.03] before:absolute before:inset-0 before:m-[8.334%] before:rounded-[inherit] before:border before:border-gray-700/5 before:bg-gray-200/60 before:[mask-image:linear-gradient(to_bottom,black,transparent)]">
                                <img alt="Logo 03" loading="lazy" decoding="async" data-nimg="1"
                                    class="relative rounded-full border-3 border-blue-500/50" style="color:transparent"
                                    src="{% static 'img/profile/monica.jpeg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="absolute -translate-x-[216px] -translate-y-[82px]">
                        <div class="animate-[breath_6s_ease-in-out_3.5s_infinite_both]">
                            <div
                                class="flex h-20 w-20 items-center justify-center rounded-full bg-white shadow-lg shadow-black/[0.03] before:absolute before:inset-0 before:m-[8.334%] before:rounded-[inherit] before:border before:border-gray-700/5 before:bg-gray-200/60 before:[mask-image:linear-gradient(to_bottom,black,transparent)]">
                                <img alt="Logo 04" loading="lazy" decoding="async" data-nimg="1"
                                    class="relative rounded-full border-3 border-blue-500/50" style="color:transparent"
                                    src="{% static 'img/profile/phoebe.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="absolute -translate-y-[82px] translate-x-[216px]">
                        <div class="animate-[breath_6s_ease-in-out_1.5s_infinite_both]">
                            <div
                                class="flex h-20 w-20 items-center justify-center rounded-full bg-white shadow-lg shadow-black/[0.03] before:absolute before:inset-0 before:m-[8.334%] before:rounded-[inherit] before:border before:border-gray-700/5 before:bg-gray-200/60 before:[mask-image:linear-gradient(to_bottom,black,transparent)]">
                                <img alt="Logo 05" loading="lazy" decoding="async" data-nimg="1"
                                    class="relative rounded-full border-3 border-blue-500/50" style="color:transparent"
                                    src="{% static 'img/profile/rachel.jpeg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="absolute translate-x-[216px] translate-y-[82px]">
                        <div class="animate-[breath_6s_ease-in-out_2s_infinite_both]">
                            <div
                                class="flex h-20 w-20 items-center justify-center rounded-full bg-white shadow-lg shadow-black/[0.03] before:absolute before:inset-0 before:m-[8.334%] before:rounded-[inherit] before:border before:border-gray-700/5 before:bg-gray-200/60 before:[mask-image:linear-gradient(to_bottom,black,transparent)]">
                                <img alt="Logo 06" loading="lazy" decoding="async" data-nimg="1"
                                    class="relative rounded-full border-3 border-blue-500/50" style="color:transparent"
                                    src="{% static 'img/profile/ross.jpeg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="absolute -translate-x-[216px] translate-y-[82px]">
                        <div class="animate-[breath_6s_ease-in-out_2.5s_infinite_both]">
                            <div
                                class="flex h-20 w-20 items-center justify-center rounded-full bg-white shadow-lg shadow-black/[0.03] before:absolute before:inset-0 before:m-[8.334%] before:rounded-[inherit] before:border before:border-gray-700/5 before:bg-gray-200/60 before:[mask-image:linear-gradient(to_bottom,black,transparent)]">
                                <img alt="Logo 07" loading="lazy" decoding="async" data-nimg="1"
                                    class="relative rounded-full border-3 border-blue-500/50" style="color:transparent"
                                    src="{% static 'img/profile/joey.jpeg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="absolute -translate-x-[292px] opacity-40">
                        <div class="animate-[breath_6s_ease-in-out_2s_infinite_both]">
                            <div
                                class="flex h-12 w-12 items-center justify-center rounded-full border border-gray-200/60 bg-white shadow-lg">
                                <img alt="Logo 08" loading="lazy" decoding="async" data-nimg="1"
                                    class="relative rounded-full border-3 border-blue-500/50" style="color:transparent"
                                    src="{% static 'img/profile/wonder-woman.jpeg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="absolute translate-x-[292px] opacity-40">
                        <div class="animate-[breath_6s_ease-in-out_4s_infinite_both]">
                            <div
                                class="flex h-12 w-12 items-center justify-center rounded-full border border-gray-200/60 bg-white shadow-lg">
                                <img alt="Logo 09" loading="lazy" decoding="async" data-nimg="1"
                                    class="relative rounded-full border-3 border-blue-500/50 " style="color:transparent"
                                    src="{% static 'img/profile/black-widow.jpeg' %}">
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="mx-auto max-w-xl float-animation">
            <span class="text-xl tracking-wider font-mono text-gray-300 text-center">
                Claim Your Free Gravatar Profile Today!
            </span>
        </div>
    </div>
</section>
