{% load static %}
<div class="swiper w-96 max-h-xl">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="{% static 'img/yoda.png' %}" class="justify-self-end max-h-xl object-cover inset-shadow-xl p-1"
                alt="">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'img/obi-wan-kenobi.png' %}"
                class="justify-self-end max-h-xl object-cover inset-shadow-xl p-1" alt="">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'img/darth-vadar.png' %}"
                class="justify-self-end max-h-xl object-cover inset-shadow-xl p-1" alt="">
        </div>
    </div>
</div>
