{% load static %}
<div class="swiper group-hover:scale-110 transition-all duration-1000">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="{% static 'img/yoda.png' %}" class="justify-self-end h-max object-contain p-1" alt="">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'img/obi-wan-kenobi.png' %}" class="justify-self-end h-max object-contain p-1" alt="">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'img/darth-vadar.png' %}" class="justify-self-end h-max object-contain p-1" alt="">
        </div>
    </div>
</div>
